<script type="text/template" id="detail-template">
	<div class="detail-block">
	    <div class="detail-block-title">이름</div>
	    <div class="detail-block-body">
	        <div class="detail-block-body-line">
	            <div class="detail-block-column first">성</div>
	            <div class="detail-block-column last"><%- firstName %></div>
	        </div>
	        <div>
	            <div class="detail-block-column first">성</div>
	            <div class="detail-block-column last"><%- lastName %></div>
	        </div>
	    </div>
	</div>
	
	<div class="detail-block">
	    <div class="detail-block-title">연락처</div>
	    <div class="detail-block-body">
	        <div class="detail-block-body-line">
	            <div class="detail-block-column first">핸드폰</div>
	            <div class="detail-block-column last"><%- cellPhone %></div>
	        </div>
	        <div class="detail-block-body-line">
	            <div class="detail-block-column first">집</div>
	            <div class="detail-block-column last"><%- homePhone %></div>
	        </div>
	        <div>
	            <div class="detail-block-column first">회사</div>
	            <div class="detail-block-column last"><%- workPhone %></div>
	        </div>
	    </div>
	</div>
	
	<div class="detail-block">
	    <div class="detail-block-title">주소</div>
	    <div class="detail-block-body">
	        <div class="detail-block-body-line">
	            <div class="detail-block-column first">나라</div>
	            <div class="detail-block-column last"><%- country %></div>
	        </div>
	        <div>
	            <div class="detail-block-column first">도시</div>
	            <div class="detail-block-column last"><%- city %></div>
	        </div>
	    </div>
	</div>
</script>