<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../resource/x-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../resource/x-ui-theme.css" />

	<script src="../../libs/jquery-1.10.2.min.js"></script>
	<script src="../../build/x-ui.min.js"></script>
	<script src="../../build/x-event.min.js"></script>
	<script src="../../build/x-scroll.min.js"></script>

	<script>
		X.App({
			ready: function(appView){
				appView.setContent();
				var view1 = new X.View({
					content: "Test1",
					style: {
						background: "red"
					}
				});

				var view2 = new X.View({
					content: "Test2",
					style: {
						background: "blue"
					}
				});

				appView.add([view1, view2]);

				var toolbar = new X.ui.Toolbar({
					title: "new",
					position: "bottom"
				});

				appView.addToolbar([toolbar]);
			}
		});
	</script>
</head>
<body>

</body>
</html>
