<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../libs/x-ui/css/x-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../libs/x-ui/css/x-ui-theme.css" />

	<script src="../../libs/x-ui/js/jquery-1.10.2.min.js"></script>
	<script src="../../libs/x-ui/js/x-ui.js"></script>
	<script src="../../libs/x-ui/js/x-event.js"></script>
	<script src="../../libs/x-ui/js/x-scroll.js"></script>
	<script src="../../libs/x-ui/js/x-template.js"></script>

	<script>
		X.App({
			viewConfig: {
				items: [
					new X.View({
						style: {
							background: "red"
						}
					})
				],
				panels: {
					left: new X.View({
						style: {
							background: "blue"
						}
					}),
					right: new X.View({
						style: {
							background: "green"
						}
					})
				}
			},
			ready: function(appView){
				
			}
		});
	</script>
</head>
<body>

</body>
</html>
