body{
    background: #eaeaea;
}

.form-container{
    height: 100px;
}

.form-container form{
    width: 550px;
    margin: 40px auto;
}

.form-container form input{
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    z-index: 2;
}

.list-container{
    padding: 30px;
}

