@charset "utf-8";

/**/
*{ margin:0px; padding:0px; }

/**/
*:focus { outline: none; }

/**/
html, body{ height: 100%; width: 100%; overflow: hidden; line-height: 0; }

/**/
body{
	font-family: Helvetica, Arial, sans-serif;
	color: #444;
	font-weight: normal; 
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	touch-callout: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

/**/
a{ -webkit-tap-highlight-color: rgba(0,0,0,0); }

/**/
table { border-collapse: collapse; border-spacing: 0; }

/**/
fieldset, img { border: 0; }

/**/
li { list-style: none; }

/**/
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: normal; }

/**/
input, textarea { 
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	background-image: none;
	padding: .4em;
	line-height: 1.4;
}

*:focus {
  outline: none;
}


/**/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}


/* animation default */
.ui-transitioning { 
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute !important;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-flex: auto !important;
	flex: auto !important;
}





/*
* jQuery Mobile Framework
* Copyright (c) jQuery Project
* Dual licensed under the MIT (MIT-LICENSE.txt) or GPL (GPL-LICENSE.txt) licenses.
*/
.spin  {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-animation-name: spin;
	-moz-animation-name: spin;
	animation-name: spin;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count:  infinite;
	-moz-animation-iteration-count:  infinite;
	animation-iteration-count:  infinite;
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
  	to {
  		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
  	}
}

/* Transitions originally inspired by those from jQtouch, nice work, folks */
.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ui-page-pre-in {
	opacity: 0;
}
.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 350ms;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}
.out {
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 225ms;
	-moz-animation-timing-function: ease-in;
	-moz-animation-duration: 225ms;
	animation-timing-function: ease-in;
	animation-duration: 225ms;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
.fade.out {
	opacity: 0;
	-webkit-animation-duration: 125ms;
	-webkit-animation-name: fadeout;
	-moz-animation-duration: 125ms;
	-moz-animation-name: fadeout;
	animation-duration: 125ms;
	animation-name: fadeout;
}
.fade.in {
	opacity: 1;
	-webkit-animation-duration: 225ms;
	-webkit-animation-name: fadein;
	-moz-animation-duration: 225ms;
	-moz-animation-name: fadein;
	animation-duration: 225ms;
	animation-name: fadein;
}
.pop {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.pop.in {
	-webkit-transform: scale(1);
	-webkit-animation-name: popin;
	-webkit-animation-duration: 350ms;
	-moz-transform: scale(1);
	-moz-animation-name: popin;
	-moz-animation-duration: 350ms;
	transform: scale(1);
	animation-name: popin;
	animation-duration: 350ms;
    opacity: 1;
}
.pop.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-name: fadeout;
	-moz-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
	opacity: 0;
}
.pop.in.reverse {
	-webkit-animation-name: fadein;
	-moz-animation-name: fadein;
	animation-name: fadein;
}
.pop.out.reverse {
	-webkit-transform: scale(.8);
	-webkit-animation-name: popout;
	-moz-transform: scale(.8);
	-moz-animation-name: popout;
	transform: scale(.8);
	animation-name: popout;
}
@-webkit-keyframes popin {
    from {
        -webkit-transform: scale(.8);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-moz-keyframes popin {
    from {
        -moz-transform: scale(.8);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1);
        opacity: 1;
    }
}
@keyframes popin {
    from {
        transform: scale(.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(.8);
        opacity: 0;
    }
}
@-moz-keyframes popout {
    from {
        -moz-transform: scale(1);
        opacity: 1;
    }
    to {
        -moz-transform: scale(.8);
        opacity: 0;
    }
}
@keyframes popout {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(.8);
        opacity: 0;
    }
}
/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translate3d(100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@-moz-keyframes slideinfromright {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(0); }
}
@keyframes slideinfromright {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}
@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translate3d(-100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@-moz-keyframes slideinfromleft {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(0); }
}
@keyframes slideinfromleft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(-100%,0,0); }
}
@-moz-keyframes slideouttoleft {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(-100%); }
}
@keyframes slideouttoleft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(100%,0,0); }
}
@-moz-keyframes slideouttoright {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(100%); }
}
@keyframes slideouttoright {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}
.slide.out, .slide.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 350ms;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}
.slide.out {
	-webkit-transform: translate3d(-100%,0,0);
	-webkit-animation-name: slideouttoleft;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
	transform: translateX(-100%);
	animation-name: slideouttoleft;
}
.slide.in {
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation-name: slideinfromright;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromright;
	transform: translateX(0);
	animation-name: slideinfromright;
}
.slide.out.reverse {
	-webkit-transform: translate3d(100%,0,0);
	-webkit-animation-name: slideouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: slideouttoright;
	transform: translateX(100%);
	animation-name: slideouttoright;
}
.slide.in.reverse {
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation-name: slideinfromleft;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromleft;
	transform: translateX(0);
	animation-name: slideinfromleft;
}
.slidefade.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-webkit-animation-duration: 225ms;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
	-moz-animation-duration: 225ms;
	transform: translateX(-100%);
	animation-name: slideouttoleft;
	animation-duration: 225ms;
}
.slidefade.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(0);
	-moz-animation-name: fadein;
	-moz-animation-duration: 200ms;
	transform: translateX(0);
	animation-name: fadein;
	animation-duration: 200ms;
}
.slidefade.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(100%);
	-moz-animation-name: slideouttoright;
	-moz-animation-duration: 200ms;
	transform: translateX(100%);
	animation-name: slideouttoright;
	animation-duration: 200ms;
}
.slidefade.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(0);
	-moz-animation-name: fadein;
	-moz-animation-duration: 200ms;
	transform: translateX(0);
	animation-name: fadein;
	animation-duration: 200ms;
}
/* slide down */
.slidedown.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-name: fadeout;
	-moz-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
}
.slidedown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfromtop;
	-webkit-animation-duration: 250ms;
	-moz-transform: translateY(0);
	-moz-animation-name: slideinfromtop;
	-moz-animation-duration: 250ms;
	transform: translateY(0);
	animation-name: slideinfromtop;
	animation-duration: 250ms;
}
.slidedown.in.reverse {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	-moz-animation-name: fadein;
	-moz-animation-duration: 150ms;
	animation-name: fadein;
	animation-duration: 150ms;
}
.slidedown.out.reverse {
	-webkit-transform: translateY(-100%);
	-webkit-animation-name: slideouttotop;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateY(-100%);
	-moz-animation-name: slideouttotop;
	-moz-animation-duration: 200ms;
	transform: translateY(-100%);
	animation-name: slideouttotop;
	animation-duration: 200ms;
}
@-webkit-keyframes slideinfromtop {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}
@-moz-keyframes slideinfromtop {
    from { -moz-transform: translateY(-100%); }
    to { -moz-transform: translateY(0); }
}
@keyframes slideinfromtop {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}
@-webkit-keyframes slideouttotop {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes slideouttotop {
    from { -moz-transform: translateY(0); }
    to { -moz-transform: translateY(-100%); }
}
@keyframes slideouttotop {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
}
/* slide up */
.slideup.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-name: fadeout;
	-moz-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
}
.slideup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfrombottom;
	-webkit-animation-duration: 250ms;
	-moz-transform: translateY(0);
	-moz-animation-name: slideinfrombottom;
	-moz-animation-duration: 250ms;
	transform: translateY(0);
	animation-name: slideinfrombottom;
	animation-duration: 250ms;
}
.slideup.in.reverse {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	-moz-animation-name: fadein;
	-moz-animation-duration: 150ms;
	animation-name: fadein;
	animation-duration: 150ms;
}
.slideup.out.reverse {
	-webkit-transform: translateY(100%);
	-webkit-animation-name: slideouttobottom;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateY(100%);
	-moz-animation-name: slideouttobottom;
	-moz-animation-duration: 200ms;
	transform: translateY(100%);
	animation-name: slideouttobottom;
	animation-duration: 200ms;
}
@-webkit-keyframes slideinfrombottom {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}
@-moz-keyframes slideinfrombottom {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(0); }
}
@keyframes slideinfrombottom {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}
@-webkit-keyframes slideouttobottom {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes slideouttobottom {
    from { -moz-transform: translateY(0); }
    to { -moz-transform: translateY(100%); }
}
@keyframes slideouttobottom {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-flip {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	position: absolute;
}
.flip {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	-moz-backface-visibility: hidden;
	-moz-transform: translateX(0);
	backface-visibility: hidden;
	transform: translateX(0);
}
.flip.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 175ms;
	-moz-transform: rotateY(-90deg) scale(.9);
	-moz-animation-name: flipouttoleft;
	-moz-animation-duration: 175ms;
	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	animation-duration: 175ms;
}
.flip.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 225ms;
	-moz-animation-name: flipintoright;
	-moz-animation-duration: 225ms;
	animation-name: flipintoright;
	animation-duration: 225ms;
}
.flip.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	-moz-transform: rotateY(90deg) scale(.9);
	-moz-animation-name: flipouttoright;
	transform: rotateY(90deg) scale(.9);
	animation-name: flipouttoright;
}
.flip.in.reverse {
	-webkit-animation-name: flipintoleft;
	-moz-animation-name: flipintoleft;
	animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@keyframes flipouttoleft {
    from { transform: rotateY(0); }
    to { transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) ; }
    to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(90deg) scale(.9); }
}
@keyframes flipouttoright {
    from { transform: rotateY(0); }
    to { transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
    from { -webkit-transform: rotateY(-90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
    from { -moz-transform: rotateY(-90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@keyframes flipintoleft {
    from { transform: rotateY(-90deg) scale(.9); }
    to { transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
    from { -moz-transform: rotateY(90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@keyframes flipintoright {
    from { transform: rotateY(90deg) scale(.9); }
    to { transform: rotateY(0); }
}
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-turn {
	-webkit-perspective: 200px;
	-moz-perspective: 200px;
	-ms-perspective: 200px;
	perspective: 200px;
	position: absolute;
}
.turn {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	-webkit-transform-origin: 0;
	
	-moz-backface-visibility: hidden;
	-moz-transform: translateX(0);
	-moz-transform-origin: 0;
	
	backface-visibility :hidden;
	transform: translateX(0);
	transform-origin: 0;
}
.turn.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 125ms;
	-moz-transform: rotateY(-90deg) scale(.9);
	-moz-animation-name: flipouttoleft;
	-moz-animation-duration: 125ms;
	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	animation-duration: 125ms;
}
.turn.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 250ms;
	-moz-animation-name: flipintoright;
	-moz-animation-duration: 250ms;
	animation-name: flipintoright;
	animation-duration: 250ms;
	
}
.turn.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	-moz-transform: rotateY(90deg) scale(.9);
	-moz-animation-name: flipouttoright;
	transform: rotateY(90deg) scale(.9);
	animation-name: flipouttoright;
}
.turn.in.reverse {
	-webkit-animation-name: flipintoleft;
	-moz-animation-name: flipintoleft;
	animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@-moz-keyframes flipouttoleft {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-90deg) scale(.9); }
}
@keyframes flipouttoleft {
    from { transform: rotateY(0); }
    to { transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
    from { -webkit-transform: rotateY(0) ; }
    to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@-moz-keyframes flipouttoright {
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(90deg) scale(.9); }
}
@keyframes flipouttoright {
    from { transform: rotateY(0); }
    to { transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
    from { -webkit-transform: rotateY(-90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoleft {
    from { -moz-transform: rotateY(-90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@keyframes flipintoleft {
    from { transform: rotateY(-90deg) scale(.9); }
    to { transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@-moz-keyframes flipintoright {
    from { -moz-transform: rotateY(90deg) scale(.9); }
    to { -moz-transform: rotateY(0); }
}
@keyframes flipintoright {
    from { transform: rotateY(90deg) scale(.9); }
    to { transform: rotateY(0); }
}
/* flow transition */
.flow {
	-webkit-transform-origin: 50% 30%;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.4);
	-moz-transform-origin: 50% 30%;	
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.4);
	transform-origin: 50% 30%;	
	box-shadow: 0 0 20px rgba(0,0,0,.4);
}
.ui-dialog.flow {
	-webkit-transform-origin: none;
	-webkit-box-shadow: none;
	-moz-transform-origin: none;	
	-moz-box-shadow: none;
	transform-origin: none;	
	box-shadow: none;
}
.flow.out {
	-webkit-transform: translateX(-100%) scale(.7);
	-webkit-animation-name: flowouttoleft;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 350ms;
	-moz-transform: translateX(-100%) scale(.7);
	-moz-animation-name: flowouttoleft;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 350ms;
	transform: translateX(-100%) scale(.7);
	animation-name: flowouttoleft;
	animation-timing-function: ease;
	animation-duration: 350ms;
}
.flow.in {
	-webkit-transform: translateX(0) scale(1);
	-webkit-animation-name: flowinfromright;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 350ms;
	-moz-transform: translateX(0) scale(1);
	-moz-animation-name: flowinfromright;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 350ms;
	transform: translateX(0) scale(1);
	animation-name: flowinfromright;
	animation-timing-function: ease;
	animation-duration: 350ms;
}
.flow.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: flowouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: flowouttoright;
	transform: translateX(100%);
	animation-name: flowouttoright;
}
.flow.in.reverse {
	-webkit-animation-name: flowinfromleft;
	-moz-animation-name: flowinfromleft;
	animation-name: flowinfromleft;
}
@-webkit-keyframes flowouttoleft {
    0% { -webkit-transform: translateX(0) scale(1); }
	60%, 70% { -webkit-transform: translateX(0) scale(.7); }
    100% { -webkit-transform: translateX(-100%) scale(.7); }
}
@-moz-keyframes flowouttoleft {
    0% { -moz-transform: translateX(0) scale(1); }
	60%, 70% { -moz-transform: translateX(0) scale(.7); }
    100% { -moz-transform:  translateX(-100%) scale(.7); }
}
@keyframes flowouttoleft {
    0% { transform: translateX(0) scale(1); }
	60%, 70% { transform: translateX(0) scale(.7); }
    100% { transform:  translateX(-100%) scale(.7); }
}
@-webkit-keyframes flowouttoright {
    0% { -webkit-transform: translateX(0) scale(1); }
	60%, 70% { -webkit-transform: translateX(0) scale(.7); }
    100% { -webkit-transform:  translateX(100%) scale(.7); }
}
@-moz-keyframes flowouttoright {
    0% { -moz-transform: translateX(0) scale(1); }
	60%, 70% { -moz-transform: translateX(0) scale(.7); }
    100% { -moz-transform:  translateX(100%) scale(.7); }
}
@keyframes flowouttoright {
    0% { transform: translateX(0) scale(1); }
	60%, 70% { transform: translateX(0) scale(.7); }
    100% { transform:  translateX(100%) scale(.7); }
}
@-webkit-keyframes flowinfromleft {
    0% { -webkit-transform: translateX(-100%) scale(.7); }
	30%, 40% { -webkit-transform: translateX(0) scale(.7); }
    100% { -webkit-transform: translateX(0) scale(1); }
}
@-moz-keyframes flowinfromleft {
    0% { -moz-transform: translateX(-100%) scale(.7); }
	30%, 40% { -moz-transform: translateX(0) scale(.7); }
    100% { -moz-transform: translateX(0) scale(1); }
}
@keyframes flowinfromleft {
    0% { transform: translateX(-100%) scale(.7); }
	30%, 40% { transform: translateX(0) scale(.7); }
    100% { transform: translateX(0) scale(1); }
}
@-webkit-keyframes flowinfromright {
    0% { -webkit-transform: translateX(100%) scale(.7); }
	30%, 40% { -webkit-transform: translateX(0) scale(.7); }
    100% { -webkit-transform: translateX(0) scale(1); }
}
@-moz-keyframes flowinfromright {
    0% { -moz-transform: translateX(100%) scale(.7); }
	30%, 40% { -moz-transform: translateX(0) scale(.7); }
    100% { -moz-transform: translateX(0) scale(1); }
}
@keyframes flowinfromright {
    0% { transform: translateX(100%) scale(.7); }
	30%, 40% { transform: translateX(0) scale(.7); }
    100% { transform: translateX(0) scale(1); }
}

.roll.in{
	-webkit-transform: translateX(0) rotate(0); 
	-webkit-animation-name: rollinfromright;
}

.roll.out{
	-webkit-transform: translateX(-100%) rotate(-180deg);
	-webkit-animation-name: rolloutleft;
}

.roll.in.reverse{
	-webkit-transform: translateX(-100%) rotate(-180deg);
	-webkit-animation-name: rollinfromleft;
}

.roll.out.reverse{
	-webkit-transform: -webkit-transform: translateX(0) rotate(0); 
	-webkit-animation-name: rollouttoright;
}

@-webkit-keyframes rolloutleft {
	from { -webkit-transform: translateX(0%) rotate(0); }
	to   { -webkit-transform: translateX(-100%) rotate(-180deg); }
}

@-webkit-keyframes rollinfromright {
	from { -webkit-transform: translateX(100%) rotate(180deg); }
	to   { -webkit-transform: translateX(0) rotate(0); }
}

@-webkit-keyframes rollinfromleft {
	from { -webkit-transform: translateX(-100%) rotate(-180deg); }
	to   { -webkit-transform: translateX(0) rotate(0); }
}

@-webkit-keyframes rollouttoright {
	from { -webkit-transform: translateX(0) rotate(0); }
	to   { -webkit-transform: translateX(100%) rotate(180deg); }
}

.ui-overlay{
	z-index: 9999;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.2;
	display: none;
}

.ui-popup{
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.ui-popup.in{
	-webkit-transform: scale(1);
	-webkit-animation-name: popupin;
	-webkit-animation-duration: 350ms;
	-moz-transform: scale(1);
	-moz-animation-name: popupin;
	-moz-animation-duration: 350ms;
	transform: scale(1);
	animation-name: popupin;
	animation-duration: 350ms;
    opacity: 1;
}

.ui-popup.out, .ui-view-floating.out{
	-webkit-animation-name: popuppout;
	-webkit-animation-duration: 350ms;
	-moz-animation-name: popuppout;
	-moz-animation-duration: 350ms;;
	animation-name: popuppout;
	animation-duration: 350ms;
	opacity: 0;
}


@-webkit-keyframes popupin {
    from {
        -webkit-transform: scale(.1);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-moz-keyframes popupin {
     from {
        -webkit-transform: scale(.1);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes popupin {
    from {
        -webkit-transform: scale(.1);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes popuppout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(.1);
        opacity: 0;
    }
}
@-moz-keyframes popuppout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(.1);
        opacity: 0;
    }
}
@keyframes popuppout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(.1);
        opacity: 0;
    }
}





/**/
.ui-draggable{
	z-index: 10;
	position: absolute !important;
}

.ui-dragging{
	z-index: 100000;
}
/**/


.ui-disabled, input[disabled] {
	opacity: .7;
	filter: Alpha(Opacity=70);
	background-image: none;
}

/* view controller */
.ui-vc-views{
	display: none;
}

.ui-vc-active{
	display: flex;
}

.ui-loading-msg{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 250px;
	height: 70px;
	line-height: 60px;
	margin-top: -50px;
	margin-left: -125px;
	border: 3px solid #1985D0;
	border-radius: 0.5em;
	background-color: #03111A;
	font-size: .8em;
	color: #fff;
	text-align: center;
	z-index: 999999;
}


.ui-scrollview-view{
    position: absolute;
    width: 100%;
}

/* view */
.ui-view{
	position: relative;
	overflow: hidden;
	background-color: inherit;
	display: flex;
	flex-direction: column;
	line-height: 0;
	height: 100%;
	width: 100%;
	outline: 0 none;
}

.ui-view .ui-view-hide{
	display: none;
}

.ui-view .ui-view-body{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 1;
	display: flex;
	-webkit-flex: 1;
    flex: 1;
    outline: 0 none;
}

.ui-view .ui-view-body.ui-view-body-vertical{
    -webkit-flex-direction: column;
    flex-direction: column;
}

.ui-view .ui-view-body.ui-view-body-horizontal{
	-webkit-flex-direction: row;
    flex-direction: row;
}

.ui-view.ui-view-horizontal > .ui-view-body > .ui-view{
	height: auto !important;
}

.ui-view.ui-view-horizontal > .ui-view-body > div.ui-scrollview-view > .ui-view{
	height: auto !important;
}


.ui-view.ui-view-flexible{
	-webkit-flex: 1;
    flex: 1;
}

/* js 도 삭제 */
.ui-view.ui-view-inflexible{
	
}



.ui-view.ui-view-floating{
	border: 5px solid black;
	border-radius: .5em;
	box-shadow: 0 0 15px rgba(0, 0, 0, .7);
	position: absolute !important;
	left: 50%;
	top: 50%;
	z-index: 10000;
	background-color: white;
}

.ui-view .ui-view-body.ui-view-panels{
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4);
}


.ui-view .ui-view-panels-left, .ui-view .ui-view-panels-right{
	position: absolute;
	width: 17em;
	min-height: 100%;
	height: 100%;
	border-width: 0;
	top: 0;
	z-index: 1;
}

.ui-view .ui-view-panels-left{
	left: 0;
}


.ui-view .ui-view-panels-right{
	right: 0;
}

.ui-view .ui-view-body.ui-view-panels-open-left{
	z-index: 2;
	-webkit-transition: -webkit-transform 350ms ease;
	-moz-transition: -moz-transform 350ms ease;
	transition: transform 350ms ease;
	
	-webkit-transform: translate3d(17em,0,0);
	-moz-transform: translate3d(17em,0,0);
	transform: translate3d(17em,0,0);
}

.ui-view .ui-view-body.ui-view-panels-open-right{
	z-index: 2;
	-webkit-transition: -webkit-transform 350ms ease;
	-moz-transition: -moz-transform 350ms ease;
	transition: transform 350ms ease;
	
	-webkit-transform: translate3d(-17em,0,0);
	-moz-transform: translate3d(-17em,0,0);
	transform: translate3d(-17em,0,0);
}


.ui-view .ui-view-body.ui-view-panels-close{
	z-index: 2;
	-webkit-transition: -webkit-transform 350ms ease;
	-moz-transition: -moz-transform 350ms ease;
	transition: transform 350ms ease;
	
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* listview */
.ui-listview{ }
.ui-listview .ui-listview-item{ width: 100%; }

.ui-listview .ui-listview-item.active{ cursor: pointer; }
.ui-listview .ui-listview-title{ }
.ui-listview .pulldown, .ui-listview .pullup{ }

.ui-listview .pulldown .pulldownicon, .ui-listview .pullup .pullupicon{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background:url(./images/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size: 40px 80px;
	-moz-background-size: 40px 80px;
	background-size: 40px 80px;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
    transition-property: transform;

	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	transition-duration: 250ms;
}

.ui-listview .pulldown .pulldownicon{
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
	transform: rotate(0deg) translateZ(0);
}

.ui-listview .pulldown.anim .pulldownicon{
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
	transform: rotate(-180deg) translateZ(0);
}

.ui-listview .pullup .pullupicon{
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
	transform: rotate(-180deg) translateZ(0);
}

.ui-listview .pullup.anim .pullupicon{
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
	transform: rotate(0deg) translateZ(0);
}


.ui-listview .pulldown.loading .pulldownicon, .ui-listview .pullup.loading .pullupicon {
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: ui-listview-loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	
	-moz-transform: rotate(0deg) translateZ(0);
	-moz-transition-duration: 0ms;
	-moz-animation-name: ui-listview-loading;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	
	
	transform: rotate(0deg) translateZ(0);
	transition-duration: 0ms;
	animation-name: ui-listview-loading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes ui-listview-loading {
	from { 
	    -webkit-transform: rotate(0deg) translateZ(0);
	    -moz-transform: rotate(0deg) translateZ(0);
	    transform: rotate(0deg) translateZ(0);
    }
	to {
	    -webkit-transform: rotate(360deg) translateZ(0);
	    -moz-transform: rotate(360deg) translateZ(0);
	    transform: rotate(360deg) translateZ(0);
    }
}



.ui-accordion{ }
.ui-accordion .ui-accordion-views{
	overflow: hidden;
	position: relative;
}

.ui-accordion-title{
    
}

.ui-accordion .ui-view-body-vertical .ui-accordion-views{
	-webkit-flex-direction: column;
    flex-direction: column;
}

.ui-accordion .ui-accordion-views.ui-accordion-open{
	-webkit-flex: 1;
	flex: 1;
	display: flex;
}

.ui-accordion .ui-view-body-vertical > .ui-accordion-views.ui-accordion-close{
	display: block;
}

.ui-accordion .ui-view-body-vertical > .ui-accordion-views.ui-accordion-close > .ui-view{
	height: 0px;
}

.ui-accordion .ui-view-body-vertical > .ui-accordion-views .ui-accordion-title{
	cursor: pointer;
}


/*ui-toolbar*/
.ui-toolbar{
	width: 100%;
	overflow: hidden;
}


.ui-toolbar .ui-toolbar-inner{
	position: relative;
	width: 100%;
	height: 100%;
}

.ui-toolbar .ui-toolbar-inner .ui-toolbar-title{
	width: 100%;
	height: 100%;
	line-height: 1;
}


/*ui-tabs*/
.ui-tabs{
	overflow: hidden;
}

.ui-tabs > .ui-view-body{
	overflow: hidden;
}

.ui-tabs .ui-tabs-bar{
	width: 100%;
	height: 100%;
	position: relative;
}

.ui-tabs .ui-tabs-bar.ui-tabs-bar-top{
	
}

.ui-tabs .ui-tabs-bar.ui-tabs-bar-bottom{
	
}


.ui-tabs .ui-tabs-bar .ui-tabs-bar-items{
	height: 100%;
	float: left;
}


.ui-tabs .ui-tabs-bar .ui-tabs-bar-items span{
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	font-weight: bold;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-bar .ui-tabs-bar-items.ui-tabs-bar-items-active{
	
}



.ui-carousel{
	display: flex;
	overflow: hidden;
}
.ui-carousel .ui-view-body{
	overflow: hidden;
}

.ui-carousel .ui-carousel-views{
	-webkit-flex: 1;
	flex: 1;
	position: absolute;
}

.ui-carousel-body{
	width: 100%;
	height: 100%;
	-webkit-transform-style : preserve-3d;
	-moz-transform-style : preserve-3d;
	transform-style : preserve-3d;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}



.ui-form-box{
	
}

.ui-form-box .ui-form-container{
	background-color: #fff;
	position: relative;
}

.ui-form-box .ui-form-label{ }

.ui-slider{
	overflow: visible !important;
}

.ui-slider .ui-form-container{
	text-align: left;
	position: relative;
}
.ui-slider .ui-form-container .ui-slider-handle, .ui-slider .ui-form-container .ui-slider-subhandle{
	position: absolute;
	z-index: 2;
	cursor: move;
}

.ui-slider-x{
    width: 100%;
}

.ui-slider-x .ui-form-container{ }
.ui-slider-x .ui-form-container .ui-slider-handle, .ui-slider-x .ui-form-container .ui-slider-subhandle{ }


.ui-slider-y{
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	width: none !important;
}

.ui-slider-y .ui-form-container{ }
.ui-slider-y .ui-form-container .ui-slider-handle, .ui-slider-y .ui-form-container .ui-slider-subhandle{ }
	
.ui-slider .ui-slider-input{
	display: none;
}





.ui-progressbar .ui-form-container progress{
	display: none;
}


.ui-progressbar .ui-form-container .ui-progress-gauge{
	position: absolute;
	height: 100%;
	-webkit-transition: width .3s ease-in-out;
	-moz-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

.ui-progressbar .ui-form-container .ui-progress-bar{
	overflow: hidden;
	width: 100%;
}


.ui-textbox{
	height: 35px;
}

.ui-textbox.border{
	border-radius: .6em;
	border: 1px solid #B3B3B3;
}


.ui-textbox input{
	border-radius: .6em;
	min-height: 2.5em;
	width: 100%;
	border-width: 0;
	color: #333;
	text-shadow: 0 1px 0 white;

	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.ui-switchbox{
	position: relative;
}

.ui-switchbox .ui-form-container{

}

.ui-switchbox .ui-form-container .ui-switchbox-handle{
	display: block;
	position: absolute;
	top: 2%;
}

.ui-switchbox .ui-form-container .ui-switchbox-text{
	position: absolute;
}

.ui-switchbox.on .ui-form-container .ui-switchbox-text{
	right: 5%;
}

.ui-switchbox.off .ui-form-container .ui-switchbox-text{
	left: 5%;
}

.ui-switchbox.on .ui-form-container .ui-switchbox-handle{
	left: 2%;
}

.ui-switchbox.off .ui-form-container .ui-switchbox-handle{
	right: 2%;
}


/**/
.ui-spinner{
	
}

.ui-spinner .ui-form-container{
	display: flex;
   
}

.ui-spinner input{
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-flex: 1;
	flex: 1;
	box-flex: 1;
}


.ui-spinner .ui-spinner-btn{
	text-align: -webkit-center;
	text-align: -moz-center;
	text-align: center;
	overflow: hidden;
}

.ui-spinner .ui-spinner-btn:active{
	
}

.ui-spinner .ui-spinner-plus{
	
}

.ui-spinner .ui-spinner-minus{

}





.ui-layout{
	
}

.ui-layout .ui-layout-contain{
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex: 1;
	flex: 1;
}

.ui-layout > .ui-view{
	height: auto;
}

.ui-layout .ui-layout-contain > .ui-view{
	height: auto;
}


.ui-layout .ui-layout-items.west, .ui-layout .ui-layout-items.east{
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}

.ui-layout .ui-layout-items.south, .ui-layout .ui-layout-items.nouth{
    -webkit-transition: height 0.2s ease-in-out;
	-moz-transition: height 0.2s ease-in-out;
	transition: height 0.2s ease-in-out;
}



.ui-layout-spliter{
	position: absolute;
	z-index: 90;
	background-color: gray;
}

.ui-layout-spliter:active{
	background-color: black;
}

.ui-layout-spliter.west{
	cursor: col-resize;
	left: 0;
	bottom: 0;
	width: 10px;
	height: 100%;
}

.ui-layout-spliter.east{
	cursor: col-resize;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 100%;
}

.ui-layout-spliter.nouth{
	cursor: row-resize;
	left: 0;
	top: 0;
	width: 100%;
	height: 10px;
}

.ui-layout-spliter.south{
	cursor: row-resize;
	bottom: 0;
    left: 0;
	width: 100%;
	height: 10px;
}
