.ui-view{
    background: #E9E9E8;
}

.btn-back{
	position: absolute;
	left: 10px;
	display: block;
}

.ui-listview .ui-listview-item{
	min-height: 61px;
	background: #f1f1f1;
}

.ui-listview .ui-listview-item a{
	text-decoration: none;
    display: block;
    width: 100%;
    height: 61px;
    color: #333;
    line-height: 61px;
    padding-left: 10px;
}

.ui-listview .ui-listview-item.active{
	background: #ccc;
	border: none;
	text-shadow: none;
}

.ui-listview .ui-listview-item.active a{
    color: #fff;
}

.menu-container{
    background-color: #fff;
}

.menu-container .ui-toolbar{
    background-color: #4ca9e9;
    background-image: none;
}

.detail-container .ui-toolbar {
    background-color: #4498BA;
    background-image: none;
}

.detail-body{
    padding: 25px;
}


.detail-title{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 0.3em;
}

.detail-content{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 0.7em;
}

.detail-desc{
    padding: 30px;
    line-height: 30px;
}

.detail-desc li{
    list-style: disc;
    margin-left: 30px;
}

.detail-desc dt{
    font-weight: bold;
}

.detail-desc dd{
    padding-left: 5px;
    margin-bottom: 20px;
    text-shadow: rgba(255,255,255,0.3) 0 1px 0;
    
    background-color: #fff;
    border-radius: 0.6em;
    border: 1px solid #c8c8c8;
}


.toolbar-btn{
    border: 1px solid #ccc;
    border-radius: 0.6em;
    background: #c9c9c9;
    width: 60px;
    height: 20px;
}

.toolbar-btn:active{
    background: red;
}

.slider-sample{
    padding: 20px;
}

.slider-vertical{
    display: -webkit-box;
}

.slider-vertical fieldset{
    float: left;
    width: 25%;
    height: 100%;
}
